@model UserEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<partial 
    name="~/Areas/Administration/Views/Shared/_PageHeading.cshtml" 
    model="@(new{ Heading = "Users", Subheading = $"#({Model.ID})"})" 
/>
<div style="margin-bottom: 20px">
    <a class="btn btn-primary" onclick="$('#main-form').submit();">Save</a>
    @if (Model?.IsDisabled == true)
    {
        <a class="btn btn-danger" onclick="confirmEnable()">Enable</a>
    }
    else
    {
        <a class="btn btn-danger" onclick="confirmDisable()">Disable</a>
    }
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="main-form">
            <partial name="_UserDetailsView.cshtml" model="@Model" />
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@if (Model?.IsDisabled == true)
{
    <form id="enableForm" asp-action="Reenable" hidden>
        <input type="hidden" asp-for="ID" />
    </form>
}
else
{
    <form id="disableForm" asp-action="Disable" hidden>
        <input type="hidden" asp-for="ID" />
    </form>
}

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function confirmEnable()
        {
            var confirmation = confirm("Are you sure you want to enable this user?");
            if (confirmation) $('#enableForm').submit();
        }
        function confirmDisable()
        {
            var confirmation = confirm("Are you sure you want to disable this user?");
            if (confirmation) $('#disableForm').submit();
        }
    </script>
}
