@model dynamic

<div class="account-card">
    <div class="account-card-header">
        <img src="~/images/icons/@(Model.Icon).svg" width="20" />
        <span>@Model.Header</span>
    </div>
    <div class="account-card-content">@Model.Content</div>
</div>
