@model dynamic

<div class="account-card">
    <div class="account-card-header">
        <i class="fa fa-@(Model.Icon)"></i>
        <span>@Model.Header</span>
    </div>
    <div class="account-card-content" style="word-wrap: break-word;">@Model.Content</div>
</div>
