@{
    ViewData["Title"] = "Reset Password";
}
<h1>Reset</h1>
<h4>Password Code</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ChallengePasswordReset">
            <div class="form-group">
                <label class="control-label">Enter password reset code</label>
                <input name="resetCode" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
