@model string
<!DOCTYPE html>
<html lang="en">
<body>
    <div style="text-align: center;">
        <h1>This is your registration activation code</h1>
        <h2 style="margin: 0">@(Model)</h2>
        <span>This code will expire in 5 minutes</span>
        <br />
        <span>Do not share this code with anyone else</span>
    </div>
</body>
</html>


