@model IEnumerable<HoaLacLaptopShop.Models.NewsPost>

@{
    ViewData["Title"] = "News";
}

<h1>News Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{
    foreach (var post in Model)
    {
        <partial name="_PostListEntry.cshtml" model="@post"></partial>
    }
}
