@model HoaLacLaptopShop.ViewModels.ProductIndexViewModel
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <form id="priceForm" asp-controller="Product" asp-action="Index" method="get" style="margin-bottom:5px;">
                    <div style="margin-bottom: 30px">
                        <h2 class="title text-center">Search</h2>
                        <div class="row search_box">
                            <input type="text" name="Search" value="@(Model.Arguments.Search ?? "")" style="width:100%"></input>
                        </div>
                    </div>
                    <div>
                        <h2 class="title text-center">Filters</h2>
                        <div class="price-range">
                            <h3 class="text-center">Price Range</h3>
                            <span style="margin-bottom: 5px;">
                                <input type="text" id="price" readonly style="border:0;font-weight:bold" />
                                <input type="hidden" name="MinPrice" value="" />
                                <input type="hidden" name="MaxPrice" value="" />
                            </span>
                            <div id="slider"></div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-info">View</button>
                </form>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Products</h2>
                    @if (Model == null || Model.Products.Count() == 0)
                    {
                        <p>No products found.</p>
                    }
                    else
                    {
                        <div class="row">
                            @foreach (var product in Model.Products)
                            {
                                <div class="col-md-3">
                                    <partial name="/Views/Shared/Products/_Card.cshtml" model="@product" />
                                </div>
                            }
                        </div>
                    }
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

@section Scripts 
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () 
        {
            $("#slider").slider
            ({
                range: true,
                min: 0,
                max: 60000000,
                step: 1000000,
                values: [@(Model.Arguments.MinPrice ?? 0), @(Model.Arguments.MaxPrice ?? 0)],
                slide: function (event, ui) 
                {
                    $("#price").val(ui.values[0] + " - " + ui.values[1]);
                    var min = ui.values[0];
                    var max = ui.values[1];
                    $("input[name='MinPrice']").val(min);
                    $("input[name='MaxPrice']").val(max);
                }
            });
        });
    </script>
}
