@using HoaLacLaptopShop.Areas.Shared.ViewModels
@model NewsPostIndexArgs

<form asp-action="Index" asp-controller="NewsPosts" method="get" id="search-form">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="SearchTerm">Title contains </label>
            <input asp-for="SearchTerm" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="PostedBy">Posted by </label>
            <input asp-for="PostedBy" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label asp-for="PostedAfter">Posted after </label>
            <input asp-for="PostedAfter" class="form-control" />
        </div>
        <div class="form-group col-md-2">
            <label asp-for="PostedBefore">Posted before </label>
            <input asp-for="PostedBefore" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Show: </label><br />
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <label class="form-check-label">
                    @Html.CheckBoxFor(m => m.ShowShort) Short Posts
                </label>
                <label class="form-check-label">
                    @Html.CheckBoxFor(m => m.ShowMedium) Medium Posts
                </label>
                <label class="form-check-label">
                    @Html.CheckBoxFor(m => m.ShowLong) Long Posts
                </label>
            </div>
        </div>
        <div class="form-group col-md-8">
            <input type="submit" value="Search" class="pull-right fa-pull-right btn btn-primary" />
        </div>
    </div>
</form>