@model IEnumerable<HoaLacLaptopShop.ViewModels.BrandVM>

<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var brand in Model)
            {
                <li>
                    <a asp-controller="Product" asp-action="Index" asp-route-brand="@brand.Id">
                        <span class="pull-right">(@brand.Quantity)</span>@brand.Name
                    </a>
                </li>
            }

        </ul>
    </div>
</div>