@model LaptopGPUSeries

<div class="form-group">
    <label asp-for="Name" class="control-label form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ManufacturerID" class="control-label form-label">Manufacturer</label>
    <select asp-for="ManufacturerID" class="form-control" asp-items="ViewBag.Manufacturers"></select>
    <span asp-validation-for="ManufacturerID" class="text-danger"></span>
</div>