@model HoaLacLaptopShop.ViewModels.AboutViewModel

@{
    ViewData["Title"] = "About Us";
}

<div 
    class="row" 
    style=
    "
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    "
>
    <div>
        <div class="col-md-6">
            <h1>HOALAC LAPTOPS</h1>
        </div>
        <div class="col-md-6" style="text-align: justify">
            <p>Hoalac Laptops is a vendor of laptops and related accessorites based in Hoa Lac, Hanoi, Vietnam.</p>
            <p>Established in 2024. We have proliferated technology to countless customers, championing both cutting edge hardware, rock bottom prices, and customer satisfaction along the way.</p>
        </div>
    </div>
</div>
<div class="row">
    <h1 style="text-align:center; margin-bottom: 30px">SOME OF OUR STATS</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row"><div style="text-align:center">Total products</div></div>
        <div class="row"><h2 style="text-align:center">@Model.TotalProducts</h2></div>
    </div>
    <div class="col-md-4">
        <div class="row"><div style="text-align:center">Total orders</div></div>
        <div class="row"><h2 style="text-align:center">@Model.TotalOrder</h2></div>
    </div>
    <div class="col-md-4">
        <div class="row"><div style="text-align:center">Total customers served</div></div>
        <div class="row"><h2 style="text-align:center">@Model.TotalCustomersServed</h2></div>
    </div>
</div>