@using HoaLacLaptopShop.Areas.Shared.ViewModels
@model NewsPostIndexViewModel

@{
    ViewData["Title"] = "News";
}

<h1>News Posts</h1>
<div id="search-filter">
    <h2>Search & Filters</h2>
    <div id="actual-search-filter">
        <partial name="~/Areas/Shared/Views/NewsPosts/_SearchFilter.cshtml" model="@Model"></partial>
    </div>
</div>

<hr />

@{
    if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            <partial name="_PostListEntry.cshtml" model="@post"></partial>
        }
    }
    else
    {
        <p>Nothing to show!</p>
    }
}

@section Scripts
{
    <script>
        $('#search-filter').accordion({ collapsible: true, active: false });
        $('#actual-search-filter').css('height', 'unset');
    </script>
}