@using HoaLacLaptopShop.Areas.Shared.ViewModels
@model NewsPostIndexViewModel

@{
    ViewData["Title"] = "News";
}

<h1>News Posts</h1>

<div>
    <div style="display: flex; align-content: center">
        <form asp-action="Index" asp-controller="NewsPosts" method="get">
            <div class="search_box" >
                <input asp-for="SearchTerm" class="form-control" style="width: 250px" />
            </div>
        </form>
    </div>
</div>

<hr/>


@{
    if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            <partial name="_PostListEntry.cshtml" model="@post"></partial>
        }
    }
    else
    {
        <p>Nothing to show!</p>
    }
}
