@using HoaLacLaptopShop.Areas.Administration.ViewModels
@using HoaLacLaptopShop.Areas.Administration.Controllers

@model ProductUpdateViewModel

@{
    ViewData["Title"] = "Creating New Product";
}


<h1>Creating</h1>
<h2>New Product</h2>

<div style="margin-bottom: 20px">
    <a class="btn btn-primary" onclick="$('#main-form').submit();">Create</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>


<div class="mb-3" style="display:flex; justify-content:space-between">
    <h1 class="h3 d-inline align-middle">
        <a href="@Url.Action("Product","Admin")">
            Product list
        </a>
    </h1>
</div>

<div class="row">
    <div class="card">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <form method="post" asp-action="Create" asp-controller="Products" enctype="multipart/form-data" id="main-form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    @await Html.PartialAsync("_ProductInfoView.cshtml", Model)
                                </div>
                                <div class="col-md-6">

                                    <div style="margin-bottom: 10px">
                                        @await Html.PartialAsync("_ProductImagesView.cshtml", Model)
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Product Type</label><br />
                                        <label class="form-check-label">
                                            <input type="radio" asp-for="IsLaptop" value="True" checked onchange="updateLaptopSpecVisibility();"> Laptop
                                        </label>
                                        <br/>
                                        <label class="form-check-label">
                                            <input type="radio" asp-for="IsLaptop" value="False" onchange="updateLaptopSpecVisibility();"> Accessory
                                        </label>
                                    </div>

                                    <div>
                                        @await Html.PartialAsync("_LaptopSpecsView.cshtml", Model.Laptop ?? new Laptop(), "Laptop")
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}